# Environment Variables for Gighub Application
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=30d

# Cloudflare R2 Configuration
R2_ACCOUNT_ID=your_r2_account_id
R2_ACCESS_KEY_ID=your_r2_access_key
R2_SECRET_ACCESS_KEY=your_r2_secret_key
R2_BUCKET=your_r2_bucket
R2_PUBLIC_URL=your_r2_public_url

# Firebase Cloud Messaging (FCM) Configuration
FCM_PROJECT_ID=your_fcm_project_id
FCM_CLIENT_EMAIL=your_fcm_client_email
FCM_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SECRET_KEY=your_supabase_secret_key
NEXT_PUBLIC_PUBLISH_KEY=your_supabase_publishable_key

# APP Info
APP_NAME=Gighub
NODE_ENV=development
APP_TIMEZONE=Asia/Dhaka
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Cron / Automation
CRON_API_KEY=your_cron_secret_key

# Telegram Bot (for cron notifications)
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id
TELEGRAM_THREAD_ID=your_telegram_thread_id
