# Supabase key
NEXT_PUBLIC_SUPABASE_PUBLIC_KEY=sb_publishahdr0W58
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbf-DQ7f1
NEXT_PUBLIC_SUPABASE_URL=https://key.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIhwIjoyMDkzMjA0MjI4fQ.U1GzXHw2wOZvq0CewsejkCgwTPvN0_yAiQoyEn2pqW4
SUPABASE_SECRET_KEY=sb_secret_aG-dfasgf
